/* import google font */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Yeseva+One&display=swap");


/* import main things */

:root {
  --primary-color: #09cc7f;
  --color: #ffffff;
  --font: "Outfit", sans-serif;
  --font1: "Mulish", sans-serif;
  --font2: "Yeseva One", serif;
  --bg-color: #202020;
  --text-link: #002d5b;
  --text-color2: #000000;
  --text-color3: #09cc7f;
}


#what_we_do{
    padding-top: 18vh;
}

/* section 1 */


#what_we_do_section-1 {
    background-image: url("../../arumbugal_assets/Home/home_section_3_bg_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  #what_we_do_section-1-div-1-h6-1 {
    color: var(--color);
    font-family: var(--font2);
    font-size: 39px;
    font-weight: 400;
    line-height: 45.05px;
    text-align: center;
  }
  
  #what_we_do_section-1-div-1-P-1 {
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 600;
    line-height: 25.1px;
    text-align: center;
    color: var(--color);
  }
  
  #what_we_do_section-1-div-1-P-1-span {
    color: var(--primary-color);
  }

  /* Section 2 */

  #what_we_do_section-2{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #what_we_do_section-2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #what_we_do_section-2-1-1-h6-1{
    color: var(--text-color2);
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 600;
  }

  #what_we_do_section-2-1-2{
    width: 70px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--primary-color);
  }

  #what_we_do_section-2-1-3{
    margin-top: 15px;
  }

  #what_we_do_section-2-1-3-p-1{
    font-family: var(--font1);
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
width: 400px;
  }


  /* Card - section */

  #what_we_do_section-2-1-4{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
   justify-items: center;
   gap: 20px;
  }

  #what_we_do_section-2-1-4-1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
height: 250px;
top: 286px;
left: 144px;
padding: 5px 5px 19px 5px;
background-color: var(--color);
-webkit-box-shadow: 0px 0px 10px 0px rgba(212,212,212,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(212,212,212,1);
box-shadow: 0px 0px 10px 0px rgba(212,212,212,1);
  }

  #what_we_do_section-2-1-4-1-img{
    width: 260px;
height: 190px;
top: 5px;
left: 5px;
gap: 0px;
opacity: 0px;
  }

  #what_we_do_section-2-1-4-1-p-1{
    font-family: var(--font1);
    font-size: 17px;
    font-weight: 600;
    color: var(--text-color2);
    margin-top: 15px;
  }

  #what_we_do_section-2-1-4-1-p-2{
    color: var(--primary-color);
  }

  @media(max-width:1025px){
    #what_we_do_section-2-1-4{
      grid-template-columns: repeat(3, minmax(0, 1fr));
     justify-items: center;
     gap: 20px;
    }
  }

  @media(max-width: 982px){
    #what_we_do_section-2-1-4{
      grid-template-columns: repeat(2, minmax(0, 1fr));
     justify-items: center;
     gap: 20px;
    }
  }

  @media(max-width: 555px){
    #what_we_do_section-2-1-4{
      grid-template-columns: repeat(1, minmax(0, 1fr));
     justify-items: center;
     gap: 20px;
    }
  }

  @media(max-width: 401px){
    #what_we_do_section-2-1-3-p-1{
  width: 100%;
    }
  }


    /* Section 3 */

    #what_we_do_section-3{
        background-image: url("../../arumbugal_assets/Home//home_section_3_bg_image.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
       padding-top: 80px;
       padding-bottom: 80px; 
      }
    
      #what_we_do_section-3-1{
        display: flex;
        flex-direction: column;
      align-items: center;
      }
    
      #what_we_do_section-3-1-h6-1{
        color: var(--primary-color);
        font-family: var(--font2);
        font-size: 24px;
        font-weight: 400;
      }
    
    
      #what_we_do_section-3-1-p-1{
        color: var(--color);
        font-family: var(--font1);
        font-size: 18px;
        font-weight: 400;
        width: 600px;
        text-align: center;
      }
    
      #what_we_do_section-3-1-button{
        border: none;
        background-color: var(--primary-color);
        color: var(--color);
        font-family: var(--font1);
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 20px;
      }
    
    
      @media (max-width: 600px){
        #what_we_do_section-3-1-p-1{
       width: 100%;
        }
      }
    
    
      @media (max-width:  376px){
        #what_we_do_section-3-1-p-1{
         font-size: 14px;
        }
      }
    
    

  /* Section 4 */


  #what_we_do_section-4{
    padding-top: 50px;
    padding-bottom: 90px;
  }

  #what_we_do_section-4-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

   #what_we_do_section-4-1-1-1-h6-1{
    font-family: var(--font2);
    font-size: 28px;
    font-weight: 400;
    color: var(--text-color2);
   }

   #what_we_do_section-4-1-1-1-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 400;
line-height: 30px;
color: var(--text-color2);
width: 600px;
margin-top: 20px;
text-align: justify;
   }


   #what_we_do_section-4-1-1-1-button{
    margin-top: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--color);
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
   }


   #what_we_do_section-4-1-1-2-img{
    width: 500px;
   }


   #what_we_do_section-4-1-2{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   }

   #what_we_do_section-4-1-2-2-img{
    width: 500px;
   }


   #what_we_do_section-4-1-2-1-h6-1{
    font-family: var(--font2);
    font-size: 28px;
    font-weight: 400;
    color: var(--text-color2);
   }

   #what_we_do_section-4-1-2-1-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 400;
line-height: 30px;
color: var(--text-color2);
width: 600px;
margin-top: 20px;
text-align: justify;
   }

   #what_we_do_section-4-1-2-1-button{
    margin-top: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--color);
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
   }

   @media (max-width: 1200px){
    #what_we_do_section-4-1-1-2-img{
      width: 400px;
     }

     #what_we_do_section-4-1-1-1-p-1{
      width: 400px;
     }

    #what_we_do_section-4-1-2-2-img{
      width: 400px;
    }

    #what_we_do_section-4-1-2-1-p-1{
      width: 400px;
    }
   }

   @media (max-width: 1000px){
#what_we_do_section-4-1-1{
  flex-direction: column;
}

#what_we_do_section-4-1-1-2{
  margin-top: 20px;
}

#what_we_do_section-4-1-1-1-p-1{
  width: 100%;
}

#what_we_do_section-4-1-1-2-img{
  width: 100%;
}



#what_we_do_section-4-1-2{
  flex-direction: column-reverse;
}

#what_we_do_section-4-1-2-2{
  margin-top: 20px;
}

#what_we_do_section-4-1-2-2-img{
  width: 100%;
}
#what_we_do_section-4-1-2-1-p-1{
  width: 100%;
}
   
}